* {
    margin: 0;
    padding: 0;

}


.container {
    min-width: 70vw;
    min-height: 70Vh;
    border: 2px solid #ff0000;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.box {
    width: 250px;
    height: 250px;
    background: yellow;
    border: 2px solid black;
    margin: 5px;
    /* border-radius: 50%; */
    background-image: url("https://rb.gy/ymgr33");
    background-size: cover;
    transition: 2s ease-in-out 0.5s;

}

#one:hover {

    background-image: url("https://preview.redd.it/mahadev-and-mata-parvati-v0-8zci8ke69hzb1.jpg?width=640&crop=smart&auto=webp&s=e812d6a2b6cac08fb6288f5b6a267d9a0bb572ca");
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin-top: 100px;
}

#two:hover {

    background: url("https://shorturl.at/alvzZ");
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin-top: 100px;
}

#three:hover {
    background-image: url("https://shorturl.at/djoxU");
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin-top: 100px;
}

#four:hover {

    background-image: url("https://shorturl.at/aDH06");
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin-top: 100px;
}